.App::before {
  background-color: #c4170c;
  color: white;
  content: 'G1';
  width: 100%;
  float: left;
  margin: 0 0 20px;
  text-align: center;
  padding: 16px 0;
  font-size: 24px;
}
.App {
  padding: 0 36px;
  max-width: 940px;
  margin: 0 auto;
}
.header {
  padding: 20px 0;
}
.title {
  font-size: 48px;
}
.comment {
  border-bottom: 1px solid #CCC;
  padding: 16px 0;
}
.comments {
  border-top: 1px solid #CCC;
  margin: 48px 0;
}
.comment_box {
  font-size: 14px;
  height: 20px;
  width: 100%;
}
.comment_button {
  margin: 16px 0;
}
.comment_user {
  color: #666;
  font-style: italic;
}
.article_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.article_list li {
  margin: 10px;
  width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
}
.article_list a {
  color: #c4170c;
  text-decoration: none;
}
.article_list a:hover {
  color: #8e0000;
  text-decoration: none;
}
.new_comment label {
  display: block;
  font-weight: bold;
}
.new_comment input,
.new_comment textarea {
  margin: 10px 0;
}
.comment_box {
  font-size: 14px;
  height: 50px;
  width: 100%;
}
